.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    font-size: 4rem;
}

.message-wrapper {
   margin-top: 1rem;
}

.message {
    font-family: 'Caveat', cursive;
}

.date {
    font-family: 'Caveat', cursive;
    margin-bottom: 1rem;
}
